[
  {
    "file": "/home/ubuntu/data/sample_oicrPanc.txt",
    "bucket": "sample",
    "skip_first": true,
	"search": true,
    "columns": [
      { "name": "cancer_type" },
      { "name": "donor_id" },
      { "name": "gender" },
      { "name": "ethnicity" },
      { "name": "country_of_residence" },
      { "name": "post_diagnosis_survival_(months)" },
      { "name": "family_history_of_cancer" },
      { "name": "vital_status" },
      { "name": "donor_record_notes" },
      { "name": "diagnosis_id" },
      { "name": "disease_site_(icd_10)" },
      { "name": "clinical_staging_(who)" },
      { "name": "clinical_t" },
      { "name": "clinical_m" },
      { "name": "clinical_n" },
      { "name": "consent" },
      { "name": "therapy_type" },
      { "name": "therapy_response" },
      { "name": "diagnosis_record_notes" },
      { "name": "sample_id", "index": true },
      { "name": "sample_type", "index": true },
      { "name": "sample_freezing_method" },
      { "name": "tissue_fixation_protocol" },
      { "name": "storage_method" },
      { "name": "grading_system_used" },
      { "name": "percent_intact_tumour_cells" },
      { "name": "percent_necrotic_tissue" },
      { "name": "sample_record_notes" }
    ]
  },
  {
    "file": "/home/ubuntu/data/snp_oicrPanc.txt",
    "bucket": "snp",
    "skip_first": true,
	"search": true,
    "columns": [
      { "name": "cancer_type" },
      { "name": "assembly_version" },
      { "name": "chromosome" },
      { "name": "chromosome_end" },
      { "name": "chromosome_start" },
      { "name": "chromosome_strand" },
      { "name": "refsnp_allele" },
      { "name": "refsnp_strand" },
      { "name": "reference_genome_allele" },
      { "name": "external_variation_id" },
      { "name": "mutation_id" },
      { "name": "mutation_type" },
      { "name": "mutation" },
      { "name": "tumour_genotype" },
      { "name": "control_genotype" },
      { "name": "consequence_type" },
      { "name": "aa_mutation" },
      { "name": "gene_affected" },
      { "name": "transcript_affected" },
      { "name": "is_annotated" },
      { "name": "validation_status" },
      { "name": "validation_platform" },
      { "name": "platform" },
      { "name": "raw_data_repository" },
      { "name": "donor_id" },
      { "name": "gender" },
      { "name": "ethnicity" },
      { "name": "country_of_residence" },
      { "name": "post_diagnosis_survival_months" },
      { "name": "vital_status" },
      { "name": "diagnosis_id" },
      { "name": "disease_site_icd_10" },
      { "name": "clinical_staging_who" },
      { "name": "clinical_t" },
      { "name": "clinical_m" },
      { "name": "clinical_n" },
      { "name": "therapy_type" },
      { "name": "therapy_response" },
      { "name": "tumour_sample_id" },
      { "name": "matched_sample_id" },
      { "name": "sample_type", "index": true },
      { "name": "primarysecondary" },
      { "name": "tissue_fixation_protocol" },
      { "name": "sample_freezing_method" },
      { "name": "percent_intact_tumour_cells" },
      { "name": "percent_necrotic_tissue" }
    ]
  }
]
